<!DOCTYPE html>
{% load staticfiles %}
<meta charset="utf-8">
<style>
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font-family: 'Copperplate Gothic Light';
  font-size: 18px;
  font-weight: bold;
}

.link {
  fill: none;
  stroke: #808080;
  stroke-width: 1.5px;
	}

.found {
  fill: #ff4136;
  stroke: #ff4136;
}

.search {
  float: left;
  font-family: 'Copperplate Gothic Light';
  font-size: 12px;
  width: 20%;
}

ul.select2-results {
 max-height: 100px;
}

.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  font-family: 'Copperplate Gothic Light';
  font-size: 12px;
}


.d3-tip {
  line-height: 1;
  font-family: 'Copperplate Gothic Light';
  font-size: 14px;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}


/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
}

</style>

<img src="{% static 'images/pfizer.png' %}" align="left"/>
<img src="{% static 'images/PI.png' %}" align="right"/>
<font face="Copperplate Gothic Light" size="6">
<center><b>NA Oncology Account Hierarchy</b></center>
</font>
<hr>
<font face="Copperplate Gothic Light" size="2">
<p style="text-align:left;">
<b><a id="All Accounts" href="javascript:void(0);" onclick='update_view(this); return false;'>All Accounts</a></b> | <b><a id="Customer Segment" href="javascript:void(0);" onclick='update_view(this); return false;'>By Customer Segment</a></b> | <b><a id="GPO" href="javascript:void(0);" onclick='update_view(this); return false;'>By GPO</a></b> | <b><a id="Marketing Group" href="javascript:void(0);" onclick='update_view(this); return false;'>By Marketing Group</a></b> | <b><a id="Type" href="javascript:void(0);" onclick='update_view(this); return false;'>By Account Type</a></b> | <b><a id="Wholesaler" href="javascript:void(0);" onclick='update_view(this); return false;'>By Wholesaler</a></b>
<span style="float:right;">
<b><a id="All Markets" href="javascript:void(0);" onclick='update_market(this); return false;'>All Markets</a></b> | <b><a id="BREAST CANCER" href="javascript:void(0);" onclick='update_market(this); return false;'>Breast Cancer</a></b> | <b><a id="CML" href="javascript:void(0);" onclick='update_market(this); return false;'>CML</a></b> | <b><a id="NSCLC" href="javascript:void(0);" onclick='update_market(this); return false;'>NSCLC</a></b> | <b><a id="RCC-GIST" href="javascript:void(0);" onclick='update_market(this); return false;'>RCC-GIST</a></b>
</span>
</p>
</font>
<font face="Copperplate Gothic Light" size="4">
<b><p id="current" style="text-align:center;"></p></b>
</font>
<div id="searchName"></div>
<p style="text-align:right;">
<font face="Copperplate Gothic Light" size="2"><a id="clearAll" href="javascript:void(0);" onclick='clean(); return false;'>CLEAR FILTER</a></font>
</p>

<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.4.13/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.css"></link>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/select2/3.5.2/select2.min.js"></script>
<script src="{% static 'd3.min.js' %}"></script>
<script src="{% static 'd3.tip.js' %}"></script>
<script>

//===============================================
function select2DataCollectName(d) {
    if (d.children)
        d.children.forEach(select2DataCollectName);
    else if (d._children)
        d._children.forEach(select2DataCollectName);
    select2Data.push(d.name);
}

//===============================================
function searchTree(d) {
    if (d.children)
        d.children.forEach(searchTree);
    else if (d._children)
        d._children.forEach(searchTree);
    var searchFieldValue = eval(searchField);
    if (searchFieldValue && searchFieldValue.match(searchText)) {
            // Walk parent chain
            var ancestors = [];
            var parent = d;
            while (typeof(parent) !== "undefined") {
                ancestors.push(parent);
		//console.log(parent);
                parent.class = "found";
                parent = parent.parent;
            }
	    //console.log(ancestors);
    }
}

//===============================================
function clearAll(d) {
    d.class = "";
    if (d.children)
        d.children.forEach(clearAll);
    else if (d._children)
        d._children.forEach(clearAll);
}

//===============================================
function collapse(d) {
    if (d.children) {
        d._children = d.children;
        d._children.forEach(collapse);
        d.children = null;
    }
}

//===============================================
function collapseAllNotFound(d) {
    if (d.children) {
    	if (d.class !== "found") {
        	d._children = d.children;
        	d._children.forEach(collapseAllNotFound);
        	d.children = null;
	} else 
        	d.children.forEach(collapseAllNotFound);
    }
}

//===============================================
function expandAll(d) {
    if (d._children) {
        d.children = d._children;
        d.children.forEach(expandAll);
        d._children = null;
    } else if (d.children)
        d.children.forEach(expandAll);
}

//===============================================
// Toggle children on click.
function toggle(d) {
  if (d.children) {
    d._children = d.children;
    d.children = null;
  } else {
    d.children = d._children;
    d._children = null;
  }
  clearAll(root);
  update(d);
  $("#searchName").select2("val", "");
}

//===============================================
$("#searchName").on("select2-selecting", function(e) {
    clearAll(root);
    expandAll(root);
    update(root);

    searchField = "d.name";
    searchText = e.object.text;
    searchTree(root);
    root.children.forEach(collapseAllNotFound);
    update(root);
})


//var input = document.getElementById('all_markets').href;
var json_data = "{% static 'json/Account Hierarchy - All Markets - All Accounts.json' %}";
var brand_list = "all Pfizer brands";
var market = "All Markets";
var view = "All Accounts";
document.getElementById("current").innerHTML = view + ", " + market;

function update_market(link){
market = link.id;
refresh_data();
}

function clean(){
refresh_data();
}

function update_view(link){
view = link.id;
refresh_data();
}

function refresh_data(){
         json_data = "{% static 'json/Account Hierarchy - ' %}" + market + " - " + view + ".json";
		 if (market == "All Markets") { brand_list = "all Pfizer brands";  ; }
		 else if (market == "BREAST CANCER" ) { brand_list = "Ibrance"; }
		 else if (market == "CML") { brand_list = "Bosulif";  }
		 else if (market == "NSCLC") { brand_list = "Xalkori";  }
		 else if (market = "RCC-GIST") { brand_list = "Inlyta, Sutent and Torisel";  }
		 
		 document.getElementById("current").innerHTML = view + ", " + market;
		 
		 d3.json(json_data, function(error, flare) {
		  if (error) throw error;

		  root = flare;
		  root.x0 = height / 2;
		  root.y0 = 0;
		  
		  select2Data = [];
		  select2DataCollectName(root);
		  select2DataObject = [];
		  select2Data.sort(function(a, b) {
					if (a > b) return 1; // sort
					if (a < b) return -1;
					return 0;
				})
				.filter(function(item, i, ar) {
					return ar.indexOf(item) === i;
				}) // remove duplicate items
				.filter(function(item, i, ar) {
					select2DataObject.push({
						"id": i,
						"text": item
					});
				});
			select2Data.sort(function(a, b) {
					if (a > b) return 1; // sort
					if (a < b) return -1;
					return 0;
				})
				.filter(function(item, i, ar) {
					return ar.indexOf(item) === i;
				}) // remove duplicate items
				.filter(function(item, i, ar) {
					select2DataObject.push({
						"id": i,
						"text": item
					});
				});
		  $("#searchName").select2({
				data: select2DataObject,
				containerCssClass: "search"
		  });

		  function collapse(d) {
			if (d.children) {
			  d._children = d.children;
			  d._children.forEach(collapse);
			  d.children = null;
			}
		  }

		  root.children.forEach(collapse);
		  update(root);
		});
}

// For laptops with lower resolution (1366 x 768)
// var margin = {top: 20, right: 500, bottom: 20, left: 50},
//    width = 1500 - margin.right - margin.left;
//    height = 475 - margin.top - margin.bottom;

// For laptops with higher rsolution (1920 x 1000)
var margin = {top: 20, right: 400, bottom: 20, left: 100},
    width = 2000 - margin.right - margin.left;
    height = 950 - margin.top - margin.bottom;


var i = 0,
    duration = 750,
    root;

var tree = d3.layout.tree()
    .size([height, width]);

var diagonal = d3.svg.diagonal()
    .projection(function(d) { return [d.y, d.x]; });

var w = width + margin.right + margin.left;
var h = height + margin.top + margin.bottom;

var svg = d3.select("body").append("svg")
//  .attr("width", width + margin.right + margin.left)
//  .attr("height", height + margin.top + margin.bottom)
 	.attr("viewBox", "0 0 " + w + " " + h)
    .attr("preserveAspectRatio", "xMidYMid meet")
	.append("g");
//  .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var tip = d3.tip()
  .attr('class', 'd3-tip')
  .direction('w')
  .offset([0, -10])
  .html(function(d) {
	var html_out = "<strong>" + d.name + "</strong>";
		html_out = html_out + "<br/>" + d.num;	
		html_out = html_out + "<br/>" + d.addr + "<br/><br/>";	
		html_out = html_out + "<table>";
		html_out = html_out + "<tr><td><strong>Sales</strong></td><td><span style='color:red'>" + d.sales + "</span></td></tr>";
		html_out = html_out + "<tr><td><strong>Growth</strong></td><td><span style='color:red'>" + d.growth + "</span></td></tr>";
		html_out = html_out + "<tr><td><strong>Market Share</strong></td><td><span style='color:red'>" + d.mkt_shr + "</span></td></tr>";
		html_out = html_out + "<tr><td><strong>New Patients</strong></td><td><span style='color:red'>" + d.new_ptnt + "</span></td></tr>";
		html_out = html_out + "<tr><td><strong>Total Patients</strong></td><td><span style='color:red'>" + d.total_ptnt + "</span></td></tr>";
		html_out = html_out + "<tr><td><strong>Total HCPs in TCL</strong></td><td><span style='color:red'>" + d.total_hcp + "</span></td></tr>";
		html_out = html_out + "<tr><td><strong>TCL Reach</strong></td><td><span style='color:red'>" + d.reach + "</span></td></tr>";
		html_out = html_out + "<tr><td><strong>TCL Frequency</strong></td><td><span style='color:red'>" + d.freq + "</span></td></tr>";
		html_out = html_out + "<tr><td><strong>TCL Penetration</strong></td><td><span style='color:red'>" + d.pen + "</span></td></tr>";	
		html_out = html_out + "</table>";
		html_out = html_out + "<br/><i>* Time Period: Rolling 12 months sales for " + brand_list + "</i>";
    return html_out;
  })

svg.call(tip);

d3.json(json_data, function(error, flare) {
  if (error) throw error;
  
  root = flare;
  root.x0 = height / 2;
  root.y0 = 0;
  
  select2Data = [];
  select2DataCollectName(root);
  select2DataObject = [];
  select2Data.sort(function(a, b) {
            if (a > b) return 1; // sort
            if (a < b) return -1;
            return 0;
        })
        .filter(function(item, i, ar) {
            return ar.indexOf(item) === i;
        }) // remove duplicate items
        .filter(function(item, i, ar) {
            select2DataObject.push({
                "id": i,
                "text": item
            });
        });
    select2Data.sort(function(a, b) {
            if (a > b) return 1; // sort
            if (a < b) return -1;
            return 0;
        })
        .filter(function(item, i, ar) {
            return ar.indexOf(item) === i;
        }) // remove duplicate items
        .filter(function(item, i, ar) {
            select2DataObject.push({
                "id": i,
                "text": item
            });
        });
  $("#searchName").select2({
        data: select2DataObject,
        containerCssClass: "search"
  });

  function collapse(d) {
    if (d.children) {
      d._children = d.children;
      d._children.forEach(collapse);
      d.children = null;
    }
  }

  root.children.forEach(collapse);
  update(root);
});

d3.select(self.frameElement).style("height", "950px");

function update(source) {

  // Compute the new tree layout.
  var nodes = tree.nodes(root).reverse(),
      links = tree.links(nodes);

  // Normalize for fixed-depth.
  // nodes.forEach(function(d) { d.y = d.depth * 180; });

  // Update the nodes…
  var node = svg.selectAll("g.node")
      .data(nodes, function(d) { return d.id || (d.id = ++i); });

  // Enter any new nodes at the parent's previous position.
  var nodeEnter = node.enter().append("g")
      .attr("class", "node")
      .attr("transform", function(d) { return "translate(" + source.y0 + "," + source.x0 + ")"; })
	  .on("click", toggle)
	  .on('mouseover', tip.show)
      .on('mouseout', tip.hide);

  nodeEnter.append("circle")
      .attr("r", 1e-6)
      .style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });

  nodeEnter.append("text")
      .attr("x", function(d) { return d.children || d._children ? -10 : 10; })
      .attr("dy", "-0.25em")
      .attr("text-anchor", function(d) { return d.children || d._children ? "end" : "start"; })
      .text(function(d) {
	  if (d.name == 'All Accounts') { return 'All Accounts'; }
	  else if (d.name == 'Customer Segment') { return ''; }
	  else if (d.name == 'GPO') { return ''; }
	  else if (d.name == 'Marketing Group') { return ''; }
	  else if (d.name == 'Type') { return ''; }
	  else if (d.name == 'Wholesaler') { return 'Wholesaler'; }
	  else { var text_out = d.rnk + ") " + d.name; return text_out; }
	  })
      .style("fill-opacity", 1e-6)
	  //.style("fill", "red");

  // Transition nodes to their new position.
  var nodeUpdate = node.transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

  nodeUpdate.select("circle")
    //.attr("r", 2)
      .attr("r", function(d) { 
	/*  var reach = parseInt(d.reach);
	  if (isNaN(reach)) { return 3; }
	  else { return ((reach * reach) / 400) + 2; } */
	  var std_sales = parseInt(d.std_sales);
	  return ((std_sales / 5) + 2);
	  })
	//.style("fill", function(d) { return d._children ? "lightsteelblue" : "#fff"; });
	.style("fill", function(d) {
            if (d.class === "found") {
                return "#ff4136"; //red
            } else if (d._children) {
                return "lightsteelblue";
            } else {
                return "#fff";
            }
        })
        .style("stroke", function(d) {
            if (d.class === "found") {
                return "#ff4136"; //red
            }
        });

  nodeUpdate.select("text")
      .style("fill-opacity", 1);

  // Transition exiting nodes to the parent's new position.
  var nodeExit = node.exit().transition()
      .duration(duration)
      .attr("transform", function(d) { return "translate(" + source.y + "," + source.x + ")"; })
      .remove();

  nodeExit.select("circle")
      .attr("r", 1e-6);

  nodeExit.select("text")
      .style("fill-opacity", 1e-6);

  // Update the links…
  var link = svg.selectAll("path.link")
      .data(links, function(d) { return d.target.id; });

  // Enter any new links at the parent's previous position.
  link.enter().insert("path", "g")
      .attr("class", "link")
      .attr("d", function(d) {
        var o = {x: source.x0, y: source.y0};
        return diagonal({source: o, target: o});
      });

  // Transition links to their new position.
  link.transition()
      .duration(duration)
      .attr("d", diagonal);

  // Transition exiting nodes to the parent's new position.
  link.exit().transition()
      .duration(duration)
      .attr("d", function(d) {
        var o = {x: source.x, y: source.y};
        return diagonal({source: o, target: o});
      })
      .remove();

  // Stash the old positions for transition.
  nodes.forEach(function(d) {
    d.x0 = d.x;
    d.y0 = d.y;
  });
}

// Toggle children on click.
function toggle(d) {
  if (d.children) {
    d._children = d.children;
	//d.clicked = false;
    d.children = null;
  } else {
    d.children = d._children;
	//d.clicked = true;
    d._children = null;
  }
  update(d);
}

</script>
<font face="Copperplate Gothic Light" size="2">
<i><b><p align="right">* Showing top 20 accounts ordered by dollar sales. ** Size of bubble denotes relative dollar sales.</b></p></i>
</font>
<hr>

